@charset "utf-8";

:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 5px;
  --size-button: 60px;
  --size-border: 5px;
}

html, body, h1, ul, button {padding: 0; margin: 0;}
img {vertical-align: top;}
html {font-family: 'Merriweather', serif; font-size: 18px; background-color: var(--color-black);}
ul {list-style: none;}
button {height: inherit; border: none; vertical-align: top; background-color: transparent; cursor: pointer; font: inherit;}
a {text-decoration: none; color: inherit;}

* {
  box-sizing: border-box;
}

.wrap {display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; height: 100vh; width: 90%; margin: 0 auto;}
header {text-align: center;}
.gnb {display: flex; flex-direction: row; height: var(--size-button); align-items: center;}
.gnb .gnb_list {margin: 0 var(--base-space); border-radius: var(--size-border);}
.gnb .img {height: 100%;}
.gnb .img img {height: inherit;}
.gnb .color button {padding: calc(var(--base-space) * 2);}
.gnb .blue {background-color: var(--color-blue);}
.gnb .pink {background-color: var(--color-pink);}
.gnb .yellow {background-color: var(--color-yellow);}

main {width: 70%; max-width: 650px; height: 70%; overflow-y: auto;}
.sale_list .list_item {display: block; height: var(--size-button); padding: var(--base-space); border-radius: var(--size-border); background-color: var(--color-white);}
.sale_list .list_item.invisible {display: none;}
.sale_list .list_item + .list_item {margin-top: calc(var(--base-space) * 2);}
.sale_list .list_item .item_link {display: flex; align-items: center; width: 100%; height: 100%;}
.sale_list .list_item .thumb {height: inherit; margin: 0 calc(var(--base-space) * 2);}